<center>	
<div  class="URLbar">

	<form name="urlbar" method="get" action="/">


	<b>Search: </b>

	<input type="text"  name="hashtag" id="text_id" size="50"  value="" />	
	<input type="submit" name="action" id="text_id" value="Go" />	
		
      </form>	
 </div> 
<div  class="MainWindow">
<h1>#<%= params[:hashtag] %></h1>

<div id="myGallery"></div>
</div>
</center>